ul li {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

.content {
    margin-bottom: 200px;
}


/*login page*/

.login-content {
    display: table;
    background: url("../img/background.svg");
    width: 100%;
    height: 100%;
    position: fixed;
}

.login-block {
    display: table-cell;
    vertical-align: middle;
}

.logo img{
    display: block;
    margin: 0 auto;
}

.logo h1, p {
    text-align: center;
}

.logo p {
    font-weight: bold;
}

.jumbotron {
    background-color: rgb(233,236,239, 0.7);
}

.login-form {
    padding: 20px 20px 42px 20px;
    background-color: rgb(233,236,239, 0.7);
}

.login-form h2 {
    text-align: center;
    margin: 15px 0;
    font-weight: 400;
}

.social-link {
    text-align: center;
    margin: 16px 0;
}

.social-link i {
    margin: 0 10px;
    font-size: 30px;
    color: #212529;
    cursor: pointer;
}

.login-form .btn {
    width: 100%;
    display: block;
    margin: 37px auto 0 auto;
    border: 1px solid #212529;
    border-radius: 0;
    text-transform: uppercase;
}

/*home page*/

.left-panel {
    margin-top: 25px;
    position: fixed;
}

.left-panel ul {
    margin-top: 20px;
}

.left-panel li {
    margin: 10px 0;
}

.left-panel a {
    font-size: 20px;
    font-weight: bold;
    color: rgba(25, 25, 25, 0.68);
}

.left-panel i {
    margin-right: 10px;
    width: 20px;
}

.top-panel {
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.search {
    width: 90%;
}

.search input {
    width: 95%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgba(233, 236, 239, 0.7);
}

.content-block {
    margin: 50px 0;
}

.slick-slide:focus {
    outline: none;
}

.slick-prev::before {
    content: "\f0a8";
    font-family: "FontAwesome";
    color: #000;
    font-size: 30px;
}

.slick-next:before {
    content: "\f0a9";
    font-family: "FontAwesome";
    color: #000;
    font-size: 30px;
}

.slick-prev {
    left: 89%;
    top: -10%;
}

.slick-next {
    right: 7%;
    top: -10%;
}

.slick-slide {
    text-align: center;
}

.slick-slide img {
    display: block;
    margin: 0 auto;
}

.player {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px;
    background-color: #ffffff;
    color: rgba(25, 25, 25, 0.68);
}

.player .fa {
    cursor: pointer;
}

.player-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.player-rigth {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.player h3 {
    text-align: left;
}

.player .fa-fast-backward, .player .fa-fast-forward {
    position: relative;
    top: -8px;
    font-size: 40px;
}

.player .fa-play-circle{
    font-size: 70px;
    margin: 0 20px;
}

.player-rigth .fa {
    font-size: 20px;
    margin-left: 20px;
}

.player-rigth .dropdown-toggle::after {
    display: none;
}


/*list*/

.list-info {
    display: flex;
}

.list-info .info {
    align-self: flex-end;
}

.track-container {
    margin-top: 50px;
    color: rgba(25, 25, 25, 0.68);
}

.track-container ul {
    margin: 0;
    padding: 0;
}

.track-container  ul li {
    border-top: 1px solid  rgba(25, 25, 25, 0.4);
    padding: 10px 0;
}

.track-container  ul li h3 {
    font-size: 20px;
    font-weight: 400;
}

.list-item {
    display: flex;
}

.list-item .fa-play-circle {
    font-size: 35px;
    margin: 0 10px;
}

/*albums*/

.albums-title {
    margin-top: 38px;
}

.albums img {
    display: block;
}

.albums p {
    text-align: left;
}